/* Blaze Swieton 12/07/2025 */

/* HTML and Body - prevent background scrolling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* Wrapper - centered, not full width */
#wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Body */
body {
    background-color: lightblue;
    font-family: Arial;
    font-size: 1em;
    line-height: 1.6em;
}

/* Header */
header {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 0;
    border-bottom: 0.2em solid darkblue;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0.3em;
}

/* Navigation - horizontal */
nav {
    background-color: rgba(147, 112, 219, 0.9);
    padding: 0.3em;
    border-bottom: 0.1em solid purple;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 2%;
}

nav ul li a {
    color: white;
    padding: 0.3em;
}

/* Main content */
main {
    background-color: pink;
    padding: 2%;
    border: 0.06em solid gray;
}

h2 {
    color: purple;
    font-size: 1.5em;
    border-bottom: 0.1em solid purple;
    padding-bottom: 0.3em;
}

/* Lists */
ul, ol {
    padding-left: 5%;
    margin-left: 0;
}

ul li, ol li {
    margin-bottom: 0.5em;
}

/* Links */
a {
    color: blue;
}

a:hover {
    color: purple;
}

/* Rainbow image */
.rainbow-image {
    border: 0.06em solid #ddd;
    border-radius: 0.25em;
    padding: 0.3em;
    width: 100%;
    height: 8em;
    margin-bottom: 1em;
}

/* Form and image layout - PINK BACKGROUND */
.form-container {
    display: flex;
    gap: 2%;
    background-color: pink;
    padding: 2%;
    border-radius: 0.5em;
}

.form-section {
    width: 60%;
}

.image-section {
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 0;
}

/* Puzzle image */
.puzzle {
    width: 100%;
    max-width: 18.75em;
    height: auto;
    padding: 0.3em;
    border: 0.06em solid #ddd;
    border-radius: 0.25em;
}

/* Tombstone image */
.tombstone {
    width: 100%;
    max-width: 25em;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* MLA Citations formatting */
.citations {
    margin: 2em 0;
}

.citation {
    margin-left: 0;
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 1em;
    line-height: 2em;
}

/* Form styling */
form label {
    display: inline-block;
    width: 30%;
    text-align: left;
}

form input[type="text"],
form input[type="date"],
form select {
    width: 50%;
}

form input[type="radio"],
form input[type="checkbox"] {
    width: auto;
}

/* Age group and challenge labels stay inline */
form input[type="radio"] + label,
form input[type="checkbox"] + label {
    width: auto;
    display: inline;
}

/* Center content on hope page */
main h2,
main ul,
main p {
    text-align: center;
}

main ul {
    list-style-position: inside;
    padding-left: 0;
}

/* Center facts ordered list only */
.facts-list {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}